In [1]:
import pandas as pd
import numpy as np

import handygenome
import handygenome.cnv.rdnacopy as rdnacopy

In [4]:
df = pd.DataFrame(
    {
        'Chromosome': np.repeat('chr1', 100),
        'Start': np.arange(100) + 1,
        'End': np.arange(100) + 2,
        'value': np.concatenate(
            [np.random.normal(2.5, 0.1, 40), np.random.normal(3.2, 0.1, 60)]
        ),
    }
)

In [5]:
seg = rdnacopy.run_segmentation(df)

Analyzing: Sample.1

In [6]:
seg

  Chromosome  Start  End  num_data  mean_value
1       chr1      1   41      40.0      2.5298
2       chr1     41  101      60.0      3.2197

In [1]:
import pandas as pd
import numpy as np

import rpy2.robjects as ro
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri

In [8]:
arg_chrom = ro.StrVector(df['chrom'])
# arg_pos = ro.FloatVector(df['pos'])
arg_pos = ro.IntVector(df['pos'])
arg_value = ro.FloatVector(df['values'])

In [9]:
dnacopy = importr('DNAcopy')
cnaobj = dnacopy.CNA(arg_value, arg_chrom, arg_pos, data_type='logratio')
segresult = dnacopy.segment(cnaobj, **{'verbose': 1, 'undo.splits': 'sdundo'})

Analyzing: Sample.1

In [10]:
segresult

<rpy2.robjects.vectors.ListVector object at 0x2b089b5572d0> [19]
R classes: ('DNAcopy',)
[ListSexpVe..., ListSexpVe..., ListSexpVe..., LangSexpVe...]
  data: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x2b089b5dc2d0> [19]
  output: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x2b089b5dc4d0> [19]
  segRows: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x2b089b5dc290> [19]
  call: <class 'rpy2.rinterface.LangSexpVector'>
  <rpy2.rinterface.LangSexpVector object at 0x2b089b5b33d0> [6]

In [11]:
with (ro.default_converter + pandas2ri.converter).context():
    seg_df = ro.conversion.get_conversion().rpy2py(segresult.rx2['output'])

In [12]:
seg_df

         ID chrom  loc.start  loc.end  num.mark  seg.mean
1  Sample.1  chr1          1       40      40.0    2.4881
2  Sample.1  chr1         41      100      60.0    3.2012

In [1]:
import pysam

In [2]:
bam_path = '/home/users/team_projects/Lung_Cancer_Panel_data/03_Data_from_YTKim/02_BAM/14/LU-14.normal.bam'

In [3]:
bam = pysam.AlignmentFile(bam_path)

In [4]:
for idx, read in enumerate(bam.fetch()):
    if idx == 10:
        break
    print(read)

ST-E00130:582:HC7KJALXX:6:2108:26524:54612	81	#0	9998	0	95S56M	#1	182140535	0	CCTCACCCTAACCCTACCCCTAACCCTAACCCTAACCAGCACACGACCGCATACGATATCGAGTAACGTGACCCGAGTCCTAACGTGTGCTCTTACGATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACC	array('B', [27, 15, 15, 6, 22, 27, 27, 15, 15, 15, 33, 22, 15, 15, 15, 15, 6, 15, 15, 15, 15, 22, 15, 22, 15, 6, 15, 27, 22, 6, 15, 6, 22, 15, 15, 15, 6, 15, 6, 6, 27, 6, 22, 6, 6, 22, 15, 6, 6, 22, 15, 22, 33, 15, 6, 15, 22, 27, 22, 15, 6, 15, 15, 15, 22, 15, 6, 6, 27, 27, 27, 15, 6, 6, 6, 33, 22, 15, 6, 15, 15, 15, 27, 6, 6, 15, 6, 22, 27, 27, 15, 27, 27, 15, 15, 22, 22, 15, 33, 22, 15, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 33, 33, 33, 27, 27, 33])	[('SA', '12,95440,+,114S37M,0,1;'), ('MC', '52M99S'), ('MD', '56'), ('NM', 0), ('MQ', 0), ('AS', 56), ('XS', 53), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:2:1103:21907:52063	387	#0	9999	0	95H56M	#4	18606675	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCC	array('B', [27, 27, 27, 27, 22, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 27, 27, 22, 27, 22, 33, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 22, 22, 27, 27, 27, 27, 22, 27, 22, 27, 27, 27, 33, 22, 27, 27, 27, 22, 33, 27, 15, 22, 27])	[('SA', '5,18606943,-,47S104M,60,0;'), ('MC', '64M2D87M'), ('MD', '56'), ('NM', 0), ('MQ', 60), ('AS', 56), ('XS', 54), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:2:1222:7304:41638	323	#0	9999	1	118H33M	#4	18606754	0	GATAACCCTAACCCTAACCCTAACCCTAACCCT	array('B', [22, 22, 22, 22, 15, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 33, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27])	[('SA', '5,18606943,-,24S127M,60,0;'), ('XA', '6,+147869,119S32M,0;GL000227.1,+73742,119S32M,0;'), ('MC', '151M'), ('MD', '33'), ('NM', 0), ('MQ', 60), ('AS', 33), ('XS', 32), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:2:2204:12023:49179	387	#0	9999	0	94H57M	#4	18606763	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCT	array('B', [27, 27, 27, 27, 22, 27, 27, 27, 27, 22, 33, 22, 22, 27, 27, 33, 27, 27, 27, 27, 33, 27, 27, 27, 6, 27, 22, 15, 27, 6, 22, 22, 33, 27, 27, 27, 22, 22, 33, 33, 27, 15, 22, 6, 27, 33, 27, 27, 27, 27, 33, 33, 15, 15, 27, 22, 22])	[('SA', '5,18606943,-,48S103M,60,1;'), ('MC', '151M'), ('MD', '57'), ('NM', 0), ('MQ', 60), ('AS', 57), ('XS', 55), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:3:1217:5558:24796	1411	#0	9999	0	82H66M3H	#4	18606767	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC	array('B', [27, 27, 27, 27, 22, 27, 27, 27, 27, 27, 27, 27, 27, 27, 33, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 22, 27, 27, 22, 27, 22, 27, 27, 33, 15, 27, 27, 27, 27, 33, 33, 22, 27, 27, 27, 33, 22, 27, 27, 27, 27, 22, 15, 27, 27, 27, 22, 27, 22, 27, 27])	[('SA', '5,18606943,-,60S91M,60,0;'), ('MC', '151M'), ('MD', '66'), ('NM', 0), ('MQ', 60), ('AS', 66), ('XS', 65), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:3:1217:5609:24638	1411	#0	9999	0	82H66M3H	#4	18606767	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC	array('B', [27, 27, 27, 27, 22, 27, 27, 27, 33, 33, 27, 27, 27, 27, 27, 33, 33, 27, 27, 27, 33, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 33, 15, 27, 22, 27, 27, 33, 33, 27, 27, 27, 27, 33, 33, 27, 27, 27, 27, 27, 33, 27, 22, 22, 27, 15, 15, 15, 6])	[('SA', '5,18606943,-,60S91M,60,0;'), ('MC', '151M'), ('MD', '66'), ('NM', 0), ('MQ', 60), ('AS', 66), ('XS', 65), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:3:1217:5903:22018	387	#0	9999	0	82H66M3H	#4	18606767	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC	array('B', [27, 27, 27, 33, 22, 27, 27, 27, 33, 15, 27, 27, 27, 27, 27, 27, 27, 22, 27, 27, 27, 33, 33, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 22, 15, 22, 22, 27, 33, 33, 27, 27, 27, 27, 33, 33, 27, 27, 27, 27, 22, 27, 27, 27, 27, 27, 33, 15, 27, 27])	[('SA', '5,18606943,-,60S91M,60,0;'), ('MC', '151M'), ('MD', '66'), ('NM', 0), ('MQ', 60), ('AS', 66), ('XS', 65), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:4:1205:10906:39088	387	#0	9999	0	92H59M	#4	18606755	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAA	array('B', [27, 27, 27, 27, 22, 27, 33, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 33, 33, 27, 27, 27, 27, 33, 22, 27, 22, 27, 27, 33, 15, 27])	[('SA', '5,18606943,-,50S101M,60,0;'), ('MC', '151M'), ('MD', '59'), ('NM', 0), ('MQ', 60), ('AS', 59), ('XS', 57), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:4:2114:25337:73159	1347	#0	9999	0	68H66M17H	#4	18606744	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC	array('B', [22, 22, 27, 33, 33, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 33, 27, 27, 27, 33, 22, 27, 15, 27, 27, 27, 33, 27, 27, 22, 22, 15, 33, 27, 27, 27, 27, 27, 33, 27, 22, 27, 27, 27, 33, 27, 27, 27, 27, 27, 22, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 15])	[('SA', '5,18606943,-,74S77M,60,0;'), ('MC', '151M'), ('MD', '66'), ('NM', 0), ('MQ', 60), ('AS', 66), ('XS', 65), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]
ST-E00130:582:HC7KJALXX:4:2114:25672:73071	323	#0	9999	0	68H66M17H	#4	18606744	0	GATAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC	array('B', [22, 22, 22, 22, 15, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27, 27, 27, 27, 33, 27, 27])	[('SA', '5,18606943,-,74S77M,60,0;'), ('MC', '151M'), ('MD', '66'), ('NM', 0), ('MQ', 60), ('AS', 66), ('XS', 65), ('RG', 'JKL-LU-14-blood-wgs-ILLUMINA')]

In [5]:
import pyranges as pr

In [9]:
f1 = pr.from_dict({'Chromosome': ['chr1', 'chr1', 'chr1'], 'Start': [3, 8, 5],
                   'End': [6, 9, 7], 'Name': ['interval1', 'interval3', 'interval2']})

f2 = pr.from_dict({'Chromosome': ['chr1', 'chr1'], 'Start': [1, 6],
                   'End': [2, 7], 'Name': ['a', 'b']})

In [11]:
f1

+--------------+-----------+-----------+------------+
| Chromosome   |     Start |       End | Name       |
| (category)   |   (int64) |   (int64) | (object)   |
|--------------+-----------+-----------+------------|
| chr1         |         3 |         6 | interval1  |
| chr1         |         8 |         9 | interval3  |
| chr1         |         5 |         7 | interval2  |
+--------------+-----------+-----------+------------+
Unstranded PyRanges object has 3 rows and 4 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [12]:
f2

+--------------+-----------+-----------+------------+
| Chromosome   |     Start |       End | Name       |
| (category)   |   (int64) |   (int64) | (object)   |
|--------------+-----------+-----------+------------|
| chr1         |         1 |         2 | a          |
| chr1         |         6 |         7 | b          |
+--------------+-----------+-----------+------------+
Unstranded PyRanges object has 2 rows and 4 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [10]:
f1.join(f2)

+--------------+-----------+-----------+------------+-----------+-------+
| Chromosome   |     Start |       End | Name       |   Start_b | +2    |
| (category)   |   (int64) |   (int64) | (object)   |   (int64) | ...   |
|--------------+-----------+-----------+------------+-----------+-------|
| chr1         |         5 |         7 | interval2  |         6 | ...   |
+--------------+-----------+-----------+------------+-----------+-------+
Unstranded PyRanges object has 1 rows and 7 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome.
2 hidden columns: End_b, Name_b

In [14]:
f1.join(f2, how='left')

+--------------+-----------+-----------+------------+-----------+-------+
| Chromosome   |     Start |       End | Name       |   Start_b | +2    |
| (category)   |   (int64) |   (int64) | (object)   |   (int64) | ...   |
|--------------+-----------+-----------+------------+-----------+-------|
| chr1         |         5 |         7 | interval2  |         6 | ...   |
| chr1         |         3 |         6 | interval1  |        -1 | ...   |
| chr1         |         8 |         9 | interval3  |        -1 | ...   |
+--------------+-----------+-----------+------------+-----------+-------+
Unstranded PyRanges object has 3 rows and 7 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome.
2 hidden columns: End_b, Name_b